/* ------------------------------------------------------------ *\
	# Reset
\* ------------------------------------------------------------ */

* { padding: 0; margin: 0; outline: 0; }

/* ------------------------------------------------------------ *\
	# Base 
\* ------------------------------------------------------------ */

html,
body { height: 100%; }

body { display: table; width: 100%; min-width: 767px; min-height: 767px; font-family: 'Lato'; font-weight: 300; line-height: 1.2; }

body,
input { color: #b0bec5; }

label[for],
input[type="submit"] { cursor: pointer; }

a { color: #000; text-decoration: none; }

/* ------------------------------------------------------------ *\
	# Container
\* ------------------------------------------------------------ */

.container { display: table-cell; text-align: center; vertical-align: middle; }

.content { display: inline-block; text-align: center; }

.title { margin-bottom: 40px; font-size: 96px; }

.quote { font-size: 24px; }

/* ------------------------------------------------------------ *\
	# Search
\* ------------------------------------------------------------ */

.search { position: relative; padding-bottom: 20px; }
.search input { display: block; height: 42px; }

.search input[type="text"] { width: 100%; padding: 10px; font-size: 16px; }
.search input[type="text"] {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		-ms-box-sizing: border-box; 
		 -o-box-sizing: border-box; 
			box-sizing: border-box; 
}

.search input[type="submit"] { position: absolute; top: 0; right: 0; padding: 0 5px; color: #000; }

/* ------------------------------------------------------------ *\
	# Player Wrapper
\* ------------------------------------------------------------ */

.player-wrapper { position: relative; }

/* Playlist */
.playlist { position: absolute; top: 0; left: 100%; overflow-x: hidden; overflow-y: auto; display: none; width: 200px; height: 100%; margin-left: 10px; color: #333; text-align: left; }
.playlist.active { display: block; }

.playlist h3 { margin-bottom: 10px; }
.playlist ol { list-style-position: inside; }
.playlist li { margin-bottom: 5px; }
.playlist li:last-child { margin-bottom: 0; }

.playlist .current { font-weight: 400; color: #000; }

/* ------------------------------------------------------------ *\
	# Search Results
\* ------------------------------------------------------------ */

.search-results { position: fixed; top: 0; left: 0; display: none; width: 200px; height: 100%; overflow: auto; box-shadow: 3px 0 3px #ccc; }
.search-results.active { display: block; }

.search-results ol { padding: 20px 10px; }

.search-results li { display: block; margin-bottom: 10px; }
.search-results li:last-child { margin-bottom: 0; }

.search-results a,
.search-results img,
.search-results span { display: block; }

.search-results img { margin: 0 auto; }